.container {
	width: 92%;
}

body {
	background-color: #f2f2f2;
}

/*****************************
			NAV
******************************/
nav {
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fff;
}

.logo {
	display: inline-block;
	padding: 7px;
}

.nav {
	float: right;
}

.nav-item {
	padding: 15px;
	padding-right: 17px;
}

.nav-link {
	position: relative;
	color: #222;
	padding: 0;
	font-size: 13px;
}

.link::before {
	content: "";
	width: 0;
	height: 3px;
	background-color: #fc0;

	position: absolute;
	top: 100%;
	left: 0;
}

.nav-item:hover {
	background-color: unset;
}

.nav-item:hover .nav-link {
	color: unset;
	text-shadow: unset;
}

.nav-item:hover .link::before {
	width: 100%;
}

.temp-link {
	display: none;
}

a.menu {
	font-weight: bold;
	text-transform: uppercase;
}

.fa-angle-double-down {
	margin-left: 8px;
}

.far.fa-user {
	position: absolute;
}

.fas.fa-user {
	position: absolute;
	display: none;
}

.far.fa-user:hover {
	display: none;
}

/* when i hover over the non-fil profile, hide it and show the fill-color profile */
/* and as long as im hovered over the fill-color profile, show it */
.far.fa-user:hover ~ .fas.fa-user,
.fas.fa-user:hover {
	display: unset;
}

/***********************************
			SECTION HEADERS
***********************************/
.explore-section,
.travel-section,
.explore-section .nat-geo__header,
.travel-section .nat-geo__header {
	color: #fff;
}

.nat-geo__header {
	text-align: center;
	padding: 88px 0 66px 0;
	color: #000;
}

.nat-geo__header--header {	
	font-size: 43px;
	line-height: 45px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 25px;
	letter-spacing: 4px;
}

.nat-geo__header--text {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

.nat-geo__header--underscore {
	height: 4px;
	width: 60px;
	margin: 0 auto;
	background-color: #fc0;
}

/********************
	LATEST STORIES
********************/
.latest-stories {
	position: relative;
	padding-left: 25px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 3px;
	margin-bottom: 20px;
}

.latest-stories::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 80%;
	margin-top: 3px;
	width: 5px;
	background-color: #fc0;
}

.latest {
	order: 1;
}

.latest .card-sm [class^="track-"] {
	margin-bottom: 0;
}

/********************
	SEE MORE
********************/
.see-more {
	display: block;
	text-align: center;
}

.see-more a {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 2px solid #fc0;
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 2px;
	padding-bottom: 1px;
	z-index: 1;
}

.see-more a::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 100%;
	left: 0;
	width: 100%;
	height: 0;
	background-color: #fc0;
	transition: .2s;
}

.see-more:hover a::before {
	top: 0;
	height: 100%;
}

.see-more:hover {
	color: #222;
}

/******************************
		EXPLORE TODAY
*******************************/
.explore-section {
	position: relative;
	background-image: url(../images/explore-today.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.latest,
.main-column {
	z-index: 2;
}

.explore-section .nat-geo__header {
	padding-bottom: 88px;
}

/******************************
		WATCH SECTION
******************************/
.video-container {
	margin: 0 auto;
}

.video-box {
	position: relative;
	height: 141vw;
	overflow: hidden;
}

.video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
}

.video-container .overlay-bottom {
	padding: 30px;
}

.video-container .overlay-bottom__category {
	font-size: 13px;
	margin-bottom: 20px;
}

.video-container .card-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 33px;
	letter-spacing: 3px;
	margin-bottom: 25px;
}

.video-container [class^="overlay"] .card-text {
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 23px;
	margin-bottom: 35px;
}

.originals-box__main {
	padding: 35px 0 60px 0;
	width: 90%;
	margin: 0 auto;
}

.originals-box__main h2 {
	padding-left: 14px;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.originals {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.originals .row {
	width: 100%;
}

.originals .overlay-img {
	z-index: -1;
}

.originals img {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.arrow {
	font-size: 40px;
}

/*****************************
		TRAVEL SECTION
*****************************/
.travel-section .nat-geo__header {
	margin-bottom: 300px;
}

.travel-section {
	position: relative;
	background-image: url(../images/travel.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.travel-section .card-md-1 .card-text-section__text {
	margin-bottom: 135px;
}

.travel-section .card-md-1 .card-text-section__text {
	font-size: 25px;
	line-height: 30px;
}

.travel-section .card-md-2 .card-text-section__text {
	font-size: 25px;
	line-height: 34px;
}

/*****************************
		BELONG SECTION
*****************************/
.potd-container {
	height: 140vw;
	color: #fff;
	margin-bottom: 50px;
}

.potd__overlay--header {
	position: absolute;
	top: 35px;
	width: 100%;
	text-align: center;
}

.potd__overlay--header .see-more {
	text-align: center;
}

.potd__overlay--header .see-more a {
	font-size: 18px;
	letter-spacing: 2px;
	padding-bottom: 4px;
}

.potd__date {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 3px;
}

.potd__overlay--footer {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;

	text-transform: uppercase;
}

.potd__overlay--footer h5 {
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 12px;
}

.potd__overlay--footer p {
	font-size: 13px;
	letter-spacing: 2px;
	line-height: 17px;
}

.belong-section .card-sm .card-img {
	height: 30vw;
	max-height: unset;
}

.belong-section .card-sm .card-title {
	display: inline;
	font-weight: bold;
	
	border-bottom: 2px solid transparent;
	text-transform: unset;
}

.belong-section .card-sm .card-title:hover {
	border-bottom: 2px solid #fc0;
	text-decoration: none;
}

.belong-section .card-sm .card-text {
	color: gray;
	font-weight: unset;	
	margin-top: 8px;
}

.belong-section .card-sm .card-text:hover {
	color: gray;
}

.belong-section .card-md .card-text-section__text {
	text-transform: unset;
}

.belong-section .card-md-1 {
	background-color: #fc0;
}

.belong-section .card-md-1 .card-text-section__text,
.fa-camera-retro {
	color: #000;
}

.belong-section .card-md-1 .card-text-section__text {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 60px;
	letter-spacing: 1px;
}

.belong-section .card-md-2 .card-text-section__category {
	color: #fff;
	font-size: 17px;
}

.belong-section .card-md-2 .card-text-section__text {
	font-size: 25px;
	line-height: 34px;
	margin-bottom: 100px;
}

.fa-camera-retro {
	font-size: 80px;
	margin-bottom: 20px;
}

.belong-section .latest-stories {
	font-size: 17px;
	line-height: 23px;
}

.belong-section .latest-stories::before {
	height: 90%;
}

/****************************
		WHAT WE DO
****************************/
.wwd-section {
	background-color: #fff;
}

.wwd-section .card-text-section__category {
	font-size: 16px;
	color: white;
}

.wwd-section .card-md .card-text-section__text {
	text-transform: unset;
	font-size: 22px;
	line-height: 28px;
} 

/*****************************
	   FROM THE MAGAZINE
*****************************/
.from-the-mag {
	height: 100vh;
	position: sticky;
	top: 0;
	z-index: -1;
}

.from-the-mag__text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100%;
	text-align: center;
	font-size: 44px;
	letter-spacing: 2px;
	line-height: 45px;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
}

.from-the-mag__text::before {
	content: "";
	width: 210px;
	height: 320px;
	border: 35px solid #fc0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

/*****************************
	NEXT MONTH ISSUE SECTION
*****************************/
.next-month-issue {
	position: relative;
	background-color: #000;
}

.next-month-img-box {
	position: relative;
	height: 90vw;
}

.next-month-img-box .overlay-img {
	background-image: linear-gradient(to top, black 0%, transparent 50%, transparent 100%),
	                  url(../images/desert.jpg);
}

.issue__date {
	margin-top: -7px;
	margin-bottom: 25px;
}

.issue__date span {
	color: #fc0;
	font-size: 13px;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	border-left: 3px solid #fc0;
	border-right: 3px solid #fc0;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.issue__title {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 20px;
}

.issue__description {
	font-size: 16px;
	margin-bottom: 15px;
}

.next-month-issue .see-more {
	text-align: left;
	margin-bottom: 25px;
}

.next-month-issue__text {
	background-color: #000;
	color: #fff;
	padding: 40px 20px;
	margin-left: 0;
	margin-right: 0;
}

.also-in-issue__header {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 25px;
}

.next-month-issue .card-sm {
	display: block;
	margin-bottom: 25px;
}

.next-month-issue .card-sm::after {
	content: "";
	clear: both;
	display: table;
}

.next-month-issue .also-in-issue .card-img {
	float: left;
	width: 90px;
	height: 95px;
	max-height: unset;
	margin-right: 20px;
}

.next-month-issue .card-sm .card-text {
	font-size: 15px;
}

/*****************************
		SHOP SECTION
*****************************/
.shop-section {
	background-color: #fff;
}

.shop-section .card {
	height: 460px;
}

.shop-section .card-img-box {
	height: 300px;
}

.shop-section .card-text-section__text,
.shop-section .overlay-bottom {
	text-align: center;
}

.shop-section .overlay-bottom {
	padding: 18px;
}

.shop-section .card-text-section__text {
	padding: 20px;
}

.shop-section .card-button:hover {
	color: #fff;
}

.shop-section .card-button::before {
	background-color: #000;
}

/*****************************
		  SUBSCRIBE
*****************************/
.subscribe {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/river.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	color: #fff;

	padding: 60px 22px 60px 22px;
}

.subscribe__header,
.subscribe__text,
.input-box input {
	margin-bottom: 20px;
}

.subscribe__header {
	font-size: 34px;
	font-weight: bold;
	line-height: 40px;
	letter-spacing: 1px;
}

.subscribe__text {
	font-size: 18px;
	line-height: 27px;
}

.input-box label {
	display: none;
}

.input-box input,
.r-arrow {
	height: 55px;
	padding-left: 20px;
	padding-right: 20px;
}

.input-box input {
	font-size: 16px;
	color: lightgray;
	border: none;
	width: 75%;
}

.r-arrow {
	position: relative;
	background-color: #fc0;
	color: #000;
	border: 1px solid transparent;
}

.policy,
.policy__link {
	font-size: 14px;
	line-height: 18px;
	color: lightgray;
}

.policy__link {
	display: inline-block;
	border-bottom: 1px solid lightgray;
}

.policy__link:hover {
	color: white;
	border-bottom: 1px solid white;
}

/*****************************
		FOOTER SECTION
*****************************/
footer {
	background-color: #000;
	color: #fff;
}

.footer-container-top {
	padding: 30px 20px 15px 20px;
}

.footer-container-bot {
	padding: 20px;
}

.footer-logo,
.footer-logo-2 {
	position: relative;
	left: 35px;
	font-size: 20px;
	width: 50%;
}

.footer-logo {
	padding-bottom: 25px;
}

.footer-logo-2 {
	display: none;
}

.footer-logo::before,
.footer-logo-2::before {
	content: "";
	width: 28px;
	height: 40px;
	border: 4px solid #fc0;

	position: absolute;
	top: 0;
	left: -35px;
}

.footer-link__header {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.footer-container-top .nav-item {
	padding: 0;
}

.social-links {
	width: 80px;
	margin-left: -10px;
}

.social-links i {
	font-size: 22px;
}

.social-links i:hover {
	color: #fc0;
}

.social-links [class^="track"] {
	margin: 0;
	padding: 6px;
}

.media-box {
	text-align: center;
}

.join-section .country {
	margin-top: 30px;
}

.country:hover {
	cursor: pointer;
}

.country__flag {
	display: inline-block;
	width: 20px;
	height: 15px;
	background-image: url(https://icons.nationalgeographic.com/icons/flags/united-states/);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.country__name {
	vertical-align: top;
	font-size: 13px;
}

.country__drop-down {
	transform: translateY(-2px);
}

.footer-container-top .nav-link {
	padding-top: 10px;
	padding-bottom: 1px;
	width: unset;
	border-bottom: 1px solid transparent;
}

.footer-container-top section:not(.follow-section) .nav-link:hover {
	border-bottom: 1px solid #fff;
}

.copy [class^="track"] {
	margin-bottom: 0;
}

.copy__text {
	font-size: 12px;
	color: gray;
	line-height: 17px;
	margin-bottom: 7px;
}

.copy__text--first {
	display: block;
	margin-bottom: 7px;
}

/*****************************
			CARDS
*****************************/
.card {
	position: relative;
}

.card::after {
	content: "";
	clear: both;
	display: table;
}

.overlay-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: .2s;
}

.overlay-middle,
.overlay-bottom {
	position: absolute;
	width: 100%;
	padding: 25px;
}

[class*="category"] {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}

.overlay-bottom__category {
	letter-spacing: 2px;
	margin-bottom: 10px;
}

[class$="category--sub"] {
	font-weight: normal;
}

[class^="overlay"] .card-text {
	width: 85%;
	font-size: 32px;
	line-height: 40px;
	font-weight: bold;
	margin-bottom: 15px;
}

.overlay-middle {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.overlay-bottom {
	bottom: 0;
}

.card-text__sub {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
}

.card-text-section {
	color: #222;
	padding: 10px 20px;
	background-color: #fff;
}

.card-text-section__category {
	color: gray;
	letter-spacing: 3px;
	margin-bottom: 15px;
}

.card-text-section__text {
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 15px;
}

.card-button-container {
	display: inline-block;
	background-color: #fc0;
	font-size: 12px;
	font-weight: bold;
	color: black;
	transition: .3s;
}

.card-button-learn-more {
	background-color: #fff;
	color: black;
}

.card-button-learn-more:hover {
	color: #fff;
}

.card-button-learn-more .card-button::before {
	background-color: #000;
}

.card-button {
	position: relative;
	display: inline-block;
	background-color: transparent;
	border: none;
	padding: 15px 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	z-index: 1;
}

.card-button:focus {
	outline: none;
}

.card-button:hover {
	cursor: pointer;
}

.card-button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: #fff;
	z-index: -1;
	transition: .3s;
}

.card-button-container:hover .card-button::before {
	width: 100%;
}

.card-img {
	width: 100%;
	height: 100%;
	transition: .2s;
}

.card-sm .card-img {
	float: left;
	margin-right: 15px;
	width: 95px;
	height: 95px;
}

.card-sm .card-title {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 5px;
	line-height: 18px;
	margin-bottom: 5px;
}

.card-sm .card-title:hover {
	text-decoration: underline;
}

.card-sm .card-text {
	font-size: 16px;
	font-weight: bold;
}

.card-sm .card-text:hover {
	color: gray;
}

.card-sm .card-text,
[class^="overlay"] {
	color: #fff;
}

.card-img-box {
	height: 230px;
}

.card-img-section {
	position: relative;
	overflow: hidden;
}

.card-img-section__bumper {
	position: absolute;
	background-color: #fc0;
	bottom: 0;
	width: 100%;
	height: 0;
	transition: .2s;
}

.card-img-section:hover .card-img-section__bumper {
	height: 5px;
}

.card-md,
.card-lg {
	overflow: hidden;
}

.card-md {
	height: 115vw;
	position: relative;
	text-align: center;
}

.card-lg {
	height: 360px;
	margin-bottom: 50px;
}

.card-md .card-text-section__text,
.card-md .card-text-section__text {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.card-md-1 .overlay-middle {
	top: 40%;
}

.card-img-section:hover .card-img,
.card-lg:hover .overlay-img,
.card-md:hover .overlay-img {
	transform: scale(1.2);
}

.card-title a,
.card-text a {
	text-decoration: unset;
}

/***********************************
			EXTRA CLASSES
***********************************/
[class^="gradient"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.gradient__to-bottom--black {
	background-image: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 0.5) 70%, rgb(0, 0, 0) 100%);
}

.hidden {
	display: none;
}

/*****************************************
				MEDIA QUERIES
******************************************/
@media only screen and (min-width: 480px) {
	.container {
		width: 75%;
	}

	.nat-geo__header {
		padding-left: 10px;
		padding-right: 10px;
	}

	.nat-geo__header--text {
		font-size: 16px;
		line-height: 26px;
	}

	.video-container {
		width: 80%;
	}

	.video-box {
		height: 115vw;
	}

	.originals-box__main {
		width: 100%;
	}

	.originals-box__main h2 {
		padding-left: 29px;
		padding-right: 29px;
	}

	.originals-box__main h2 .see-more {
		display: inline;
		float: right;
	}

	.originals-box__main .see-more {
		display: none;
	}

	.originals .card-md {
		height: 24vw;
	}

	.originals .track-md-1-5:last-child {
		display: none;
	}

	.arrow {
		display: unset;
		padding-top: 7vw;
	}

	.arrow:first-child {
		padding-right: 10px;
	}

	.arrow:last-child {
		padding-left: 10px;
	}

	.potd-container {
		height: 65vw;
	}

	.belong-section .card-sm .card-img {
		height: 35vw;
		width: 25vw;
	}

	.wwd-section .card-md {
		height: 95vw;
	}

	.shop-section .card {
		height: 375px;
	}

	.shop-section .card-img-box {
		height: 200px;
	}

	.input-box input {
		width: 60%;
	}

	.copy__text--first {
		position: relative;
		display: unset;
		padding-right: 15px;
	}

	.copy__text--first::after {
		content: "";
		position: absolute;
		top: 4px;
		right: 0;
		width: 1px;
		height: 12px;
		background-color: lightgray;
	}

	.copy__text--second {
		padding-left: 10px;
	}
}

@media only screen and (min-width: 768px) {
	.container {
		width: 730px;
	}

	.nat-geo__header {
		padding-left: 25px;
		padding-right: 25px;
	}

	.nat-geo__header--header {
		font-size: 42px;
	}

	.temp-link {
		display: unset;
	}

	.photo-contest-img {
		height: 257px;
	}

	.video-container {
		width: 100%;
		max-width: 1020px;
	}

	.video-box {
		width: 100%;
		height: 55vw;
		max-height: 575px;
	}

	.originals .track-md-1-5:last-child {
		display: unset;
	}

	.card-md {
		height: 480px;
	}

	.potd-container {
		width: 730px;
		height: 485px;
		margin-left: auto;
		margin-right: auto;
	}

	.latest-photos .see-more {
		text-align: left;
	}

	.potd__overlay--header .see-more a {
		font-size: 22px;
		letter-spacing: 3px;
	}

	.belong-section .card-sm .card-img {
		height: 140px;
		width: 150px;
	}

	.wwd-section .card-md-1 {
		height: 410px;
	}

	.wwd-section .card-md-2 {
		height: 470px;
	}

	.from-the-mag__text {
		width: 50%;
		font-size: 55px;
		line-height: 88px;
	}

	.next-month-img-box {
		height: 65vw;
	}

	.also-in-issue__header {
		font-size: 16px;
	}

	.next-month-issue__text--info .card-button-container {
		display: inline-block;
	}

	.also-in-issue .card-button-container {
		display: none;
	}	

	.shop-section .card {
		height: 420px;
	}

	.shop-section .card-img-box {
		height: 250px;
	}

	.shop-section .card-text-section__text {
		font-size: 24px;
	}

	.input-box input {
		width: 47%;
	 }

	 .footer-logo {
	 	display: none;
	 }

	 .footer-logo-2 {
	 	display: unset;
	 }

	 .follow-section {
	 	position: relative;
	 	left: -70px;
	 }

	 .social-links {
	 	width: 150px;
	 }

	 .join-section .country {
	 	display: none;
	 }

	 .follow-section .country {
	 	display: block;
	 	margin-bottom: 30px;
	 }

	 .copy {
	 	border-top: 1px solid lightgray;
	 }

	 .copy__text--first {
	 	display: block;
	 }

	 .copy__text--first::after {
	 	height: 0;
	 }

	 .copy__text--second {
	 	padding-left: 0;
	 }
}

@media only screen and (min-width: 1120px) {
	.container {
		width: 1020px;
	}

	.nat-geo__header {
		padding-left: 40px;
		padding-right: 40px;
	}

	.nat-geo__header--header {
		font-size: 55px;
	}

	.see-more {
		text-align: left;
	}

	.photo-contest-img {
		height: 238px;
	}

	.latest {
		order: 0;
	}

	.video-container {
		width: 940px;
	}

	.video-box {
		position: relative;
		width: 100%;
		height: 530px;
		margin: 0 auto;
		overflow: hidden;
	}

	.originals-box__main {
		width: 107%;
		margin-left: -3%;
	}

	.originals .card-md {
		height: 260px;
	}

	.card-md {
		height: 400px;
	}

	.potd-container {
		width: 1020px;
		height: 750px;
	}

	.potd__overlay--header .see-more:hover a {
		color: white;
	}

	.potd__overlay--header .see-more:hover a::before {
		top: unset;
		height: unset;
	}

	.potd__overlay--header .see-more a {
		border-bottom: none;	
	}

	.potd__overlay--footer h5,
	.potd__overlay--footer p {
		display: inline-block;
	}

	.potd__overlay--footer h5 {
		margin-right: 10px;
	}

	.belong-section .card-sm {
		width: 320px;
	}

	.belong-section .card-sm .card-title {
		letter-spacing: 1px;
		line-height: 20px;
	}

	.belong-section .card-sm .card-text {
		font-size: 13px;
		line-height: 18px;
		letter-spacing: 1px;
	}

	.wwd-section .card-md {
		height: 430px;
	}

	.from-the-mag__text {
		width: 100%;
	}

	.from-the-mag__text::before {
		width: 330px;
		height: 450px;
		border-width: 50px;
	}

	.next-month-issue {
		height: 820px;
	}

	.next-month-issue__text {
		width: 600px;
		order: -1;
	}

	.next-month-img-box {
		width: 100%;
		height: 100%;
	}

	.next-month-img-box .overlay-img {
		background-image: linear-gradient(to right, black 30%, transparent 50%, transparent 100%),
		                  url(../images/desert.jpg);
	}

	.next-month-issue__text {
		position: absolute;
		top: 0;
		right: 0;
		width: 1250px;
		max-width: 95%;
		height: 100%;
		text-align: left;
		background-color: transparent;
		background-image: linear-gradient(to right, black 0%, black 15%, transparent 70%, transparent 100%);
	}

	.next-month-issue__text--info,
	.also-in-issue {
		width: 360px;
	}

	.next-month-issue .see-more {
		margin-bottom: 0;
	}

	.next-month-issue__text--info .card-button-container {
		display: none;
	}

	.also-in-issue .card-button-container {
		display: inline-block;
	}	

	.shop-section .card {
		height: 500px;
	}

	.shop-section .card-img-box {
		height: 310px;
	}

	.shop-section .card-text-section__text {
		margin-top: 10px;
		padding: 18px;
	}

	.policy {
		width: 46%;
		margin: 0 auto;
	}

	[class^="footer-container"] {
		width: 1000px;
		margin: 0 auto;

		position: relative;
		left: -40px;
	}

	.copy__text {
		margin-top: 12px;
	}

	.copy__text--first {
		display: inline;
		padding-right: 15px;
	}

	.copy__text--first::after {
		height: 12px;
	}

	.copy__text--second {
		padding-left: 10px;
	}
}