.container {
	width: 92%;
}

body {
	background-color: #f2f2f2;
}

/*****************************
			NAV
******************************/
nav {
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fff;
}

.logo {
	display: inline-block;
	padding: 7px;
}

.nav {
	float: right;
}

.nav-item {
	padding: 15px;
	padding-right: 17px;
}

.nav-link {
	position: relative;
	color: #222;
	padding: 0;
	font-size: 13px;
}

.link::before {
	content: "";
	width: 0;
	height: 3px;
	background-color: #fc0;

	position: absolute;
	top: 100%;
	left: 0;
}

.nav-item:hover {
	background-color: unset;
}

.nav-item:hover .nav-link {
	color: unset;
	text-shadow: unset;
}

.nav-item:hover .link::before {
	width: 100%;
}

.temp-link {
	display: none;
}

a.menu {
	font-weight: bold;
	text-transform: uppercase;
}

.fa-angle-double-down {
	margin-left: 8px;
}

.far.fa-user {
	position: absolute;
}

.fas.fa-user {
	position: absolute;
	display: none;
}

.far.fa-user:hover {
	display: none;
}

/* when i hover over the non-fil profile, hide it and show the fill-color profile */
/* and as long as im hovered over the fill-color profile, show it */
.far.fa-user:hover ~ .fas.fa-user,
.fas.fa-user:hover {
	display: unset;
}

/***********************************
			SECTION HEADERS
***********************************/
.explore-section,
.travel-section {
	color: #fff;
}

.nat-geo__header {
	text-align: center;
	padding: 88px 0 66px 0;
}

.nat-geo__header--header {
	text-transform: uppercase;
	font-size: 55px;
	font-weight: bold;
	margin-bottom: 25px;
	letter-spacing: 4px;
}

.nat-geo__header--text {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

.nat-geo__header--underscore {
	height: 4px;
	width: 60px;
	margin: 0 auto;
	background-color: #fc0;
}

/********************
	LATEST STORIES
********************/
.latest-stories {
	position: relative;
	padding-left: 25px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 3px;
	margin-bottom: 20px;
}

.latest-stories::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 80%;
	margin-top: 3px;
	width: 5px;
	background-color: #fc0;
}

.latest {
	order: 1;
}

.latest .card-sm [class^="track-"] {
	margin-bottom: 0;
}

/********************
	SEE MORE
********************/
.see-more {
	display: block;
	text-align: center;
}

.see-more a {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 2px solid #fc0;
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 2px;
	padding-bottom: 1px;
	z-index: 1;
}

.see-more a::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 100%;
	left: 0;
	width: 100%;
	height: 0;
	background-color: #fc0;
	transition: .2s;
}

.see-more:hover a::before {
	top: 0;
	height: 100%;
}

.see-more:hover {
	color: #222;
}

/******************************
		EXPLORE TODAY
*******************************/
.explore-section {
	position: relative;
	background-image: url(../images/explore-today.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.latest,
.main-column {
	z-index: 2;
}

.explore-section .nat-geo__header {
	padding-bottom: 88px;
}

/******************************
		WATCH SECTION
******************************/
.video-container {
	position: relative;
	margin: 0 auto;
}

.video-box {
	position: relative;
	height: 141vw;
	overflow: hidden;
}

.video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
}

.video-container .overlay-bottom {
	padding: 30px;
}

.video-container .overlay-bottom__category {
	font-size: 13px;
	margin-bottom: 20px;
}

.video-container .card-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 33px;
	letter-spacing: 3px;
	margin-bottom: 25px;
}

.video-container [class^="overlay"] .card-text {
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 23px;
	margin-bottom: 35px;
}

/*****************************
		TRAVEL SECTION
*****************************/
.travel-section .nat-geo__header {
	margin-bottom: 300px;
}

.travel-section {
	position: relative;
	background-image: url(../images/travel.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.travel-section .card-md-1 .card-text-section__text {
	margin-bottom: 135px;
}

.travel-section .card-md-1 .card-text-section__text {
	font-size: 25px;
	line-height: 30px;
}

.travel-section .card-md-2 .card-text-section__text {
	font-size: 25px;
	line-height: 34px;
}

/*****************************
		BELONG SECTION
*****************************/
.potd-container {
	height: 140vw;
	color: #fff;
	margin-bottom: 50px;
}

.potd__overlay--header {
	position: absolute;
	top: 35px;
	width: 100%;
	text-align: center;
}

.potd__overlay--header .see-more {
	text-align: center;
}

.potd__overlay--header .see-more a {
	font-size: 18px;
	letter-spacing: 2px;
	margin-bottom: 10px;
}

.potd__date {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 3px;
}

.potd__overlay--footer {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;

	text-transform: uppercase;
}

.potd__overlay--footer h5 {
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 12px;
}

.potd__overlay--footer p {
	font-size: 13px;
	letter-spacing: 2px;
	line-height: 17px;
}

.belong-section .card-sm .card-title {
	display: inline-block;
	font-weight: bold;
	letter-spacing: 1px;
	border-bottom: 2px solid transparent;
}

.belong-section .card-sm .card-title:hover {
	border-bottom: 2px solid #fc0;
	text-decoration: none;
}

.belong-section .card-sm .card-text {
	color: gray;
	font-weight: unset;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 1px;
}

.belong-section .card-sm .card-text:hover {
	color: gray;
}

.belong-section .card-md .card-text-section__text {
	text-transform: unset;
}

.belong-section .card-md-1 {
	background-color: #fc0;
}

.belong-section .card-md-1 .card-text-section__text,
.fa-camera-retro {
	color: #000;
}

.belong-section .card-md-1 .card-text-section__text {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 60px;
	letter-spacing: 1px;
}

.belong-section .card-md-2 .card-text-section__category {
	color: #fff;
	font-size: 17px;
}

.belong-section .card-md-2 .card-text-section__text {
	font-size: 25px;
	line-height: 34px;
	margin-bottom: 100px;
}

.fa-camera-retro {
	font-size: 80px;
	margin-bottom: 20px;
}

/*****************************
			CARDS
*****************************/
.card {
	position: relative;
}

.overlay-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: .2s;
}

.overlay-middle,
.overlay-bottom {
	position: absolute;
}

[class*="category"] {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}

.overlay-bottom__category {
	letter-spacing: 2px;
	margin-bottom: 10px;
}

[class$="category--sub"] {
	font-weight: normal;
}

[class^="overlay"] .card-text {
	width: 85%;
	font-size: 32px;
	line-height: 40px;
	font-weight: bold;
	margin-bottom: 15px;
}

.overlay-middle {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.overlay-bottom {
	bottom: 0;
	padding: 25px;
}

.card-text__sub {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
}

.card-text-section {
	color: #222;
	padding: 10px 20px;
	background-color: #fff;
}

.card-text-section__category {
	color: gray;
	letter-spacing: 3px;
	margin-bottom: 15px;
}

.card-text-section__text {
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 15px;
}

.card-button-container {
	display: inline-block;
	background-color: #fc0;
	font-size: 12px;
	font-weight: bold;
	color: black;
	transition: .3s;
}

.card-button-learn-more {
	background-color: #fff;
	color: black;
}

.card-button-learn-more:hover {
	color: #fff;
}

.card-button-learn-more .card-button::before {
	background-color: #000;
}

.card-button {
	position: relative;
	display: inline-block;
	background-color: transparent;
	border: none;
	padding: 15px 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	z-index: 1;
}

.card-button:focus {
	outline: none;
}

.card-button:hover {
	cursor: pointer;
}

.card-button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: #fff;
	z-index: -1;
	transition: .3s;
}

.card-button-container:hover .card-button::before {
	width: 100%;
}

.card-sm {
	display: flex;
	flex-direction: row;
}

.card-img {
	width: 100%;
	height: 100%;
	transition: .2s;
}

.card-sm .card-img {
	width: 100%;
	height: 100%;
	max-height: 85px;
}

.card-sm .card-title {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 5px;
	line-height: 18px;
	margin-bottom: 5px;
}

.card-sm .card-title:hover {
	text-decoration: underline;
}

.card-sm .card-text {
	font-size: 16px;
	font-weight: bold;
}

.card-sm .card-text:hover {
	color: gray;
}

.card-sm .card-text,
[class^="overlay"] {
	color: #fff;
}

.card-img-section {
	position: relative;
	overflow: hidden;
}

.card-img-section__bumper {
	position: absolute;
	background-color: #fc0;
	bottom: 0;
	width: 100%;
	height: 0;
	transition: .2s;
}

.card-img-section:hover .card-img-section__bumper {
	height: 5px;
}

.card-md,
.card-lg {
	overflow: hidden;
}

.card-md {
	height: 115vw;
	position: relative;
	text-align: center;
}

.card-lg {
	height: 360px;
	margin-bottom: 50px;
}

.card-md .card-text-section__text,
.card-md .card-text-section__text {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.card-md-1 .overlay-middle {
	top: 40%;
}

.card-img-section:hover .card-img,
.card-lg:hover .overlay-img,
.card-md:hover .overlay-img {
	transform: scale(1.2);
}

.card-title a,
.card-text a {
	text-decoration: unset;
}

/***********************************
			EXTRA CLASSES
***********************************/
[class^="gradient"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.gradient__to-bottom--black {
	background-image: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 0.5) 70%, rgb(0, 0, 0) 100%);
}

/*****************************************
				MEDIA QUERIES
******************************************/
@media only screen and (min-width: 480px) {
	.container {
		width: 75%;
	}

	.video-container {
		width: 80%;
	}

	.video-box {
		height: 115vw;
	}

	.potd-container {
		height: 65vw;
	}
}

@media only screen and (min-width: 768px) {
	.container {
		width: 730px;
	}

	.temp-link {
		display: unset;
	}

	.photo-contest-img {
		height: 257px;
	}

	.video-container {
		width: 100%;
		max-width: 1020px;
	}

	.video-box {
		width: 100%;
		height: 55vw;
		max-height: 575px;
	}

	.card-md {
		height: 480px;
	}

	.potd-container {
		width: 730px;
		height: 485px;
		margin-left: auto;
		margin-right: auto;
	}

	.potd-container .see-more {
		text-align: center;
	}

	.travel-links .see-more {
		text-align: left;
	}
}

@media only screen and (min-width: 1120px) {
	.container {
		width: 1020px;
	}

	.see-more {
		text-align: left;
	}

	.photo-contest-img {
		height: 238px;
	}

	.latest {
		order: 0;
	}

	.video-container {
		width: 940px;
	}

	.video-box {
		position: relative;
		width: 100%;
		height: 530px;
		margin: 0 auto;
		overflow: hidden;
	}

	.card-md {
		height: 400px;
	}

	.potd-container {
		width: 1020px;
		height: 750px;
	}

	.potd__overlay--footer h5,
	.potd__overlay--footer p {
		display: inline-block;
	}

	.potd__overlay--footer h5 {
		margin-right: 10px;
	}
}